/* Setting variables */
:root{
    --primary-color: #11121a;
    --nav-color: #000000;
    --nav-hover-color: #0071FF;
    --text-color: #c9c9c9;
  }  


/* General CSS */
* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}  

body{
    height: 100vh;
    background-color: var(--primary-color);
  }
  

/* Nav Bar CSS */
nav {
    width: 100%;
    background-color: var(--nav-color);
    height: 50px;
}

nav ul {
    width: 75%;
    height: 100%;
    display: flex;
    list-style: none; /* Set the list style to none (remove dots) */
    justify-content: flex-end;
    align-items: center;
    margin: auto;
}

nav li {
    height: 100%;
    display: flex;
    align-items: center;
}

nav li:hover {
    background-color: var(--nav-hover-color);
}

nav .home {
    margin-right: auto;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    padding: 0 30px;
}

.hamburger-icon {
    display: none;
}


/* Side Bar CSS */
.side-bar {
    background-color: var(--nav-color);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    height: 100vh;
    width: 250px;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.5);
    display: none;
}

.side-bar li, .side-bar a  {
    width: 100%;
}

@media (max-width:800px) {
    .hide-on-small-screens {
        display: none;
    }

    .hamburger-icon {
        display: flex;
    }
}
